/* .ant-modal-title {
    font-size: 50px !important;
    font-weight: bold !important;
    text-align: center !important;
}

.ant-modal-body {
    font-size: 40px !important; 
    text-align: justify !important;
}
.ant-modal-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.ant-btn {
    height: 38px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    min-width: 100px;
} */
